
.brewery-card-type {
    text-transform: capitalize;
}

.brewery-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    height: 270px;
    width: 350px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: azure;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
}

.brewery-card-name {
    font-size: 20px;
    font-style: italic;
    white-space: nowrap;
}

.googleLink > img {
    width: 50px;
    height: 50px;
}