.brewery-list-item {
    border: 0 solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    opacity: 70%;
}

.brewery-list-item:hover {
    cursor: pointer;
}

.brewery-list-item-name {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 1px 1px 3px navy;
}